.container {
  display: flex;
  padding-top: 3.5rem;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 1rem;
  background-color: #f8f8f8;
  position: fixed;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo-img {
  height: 20px;
}
.search-input {
  width: 100%;
}
.settings {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.video-list {
  width: 85vw;
  padding: 0 2.5vw;
  height: 92vh;
  overflow-y: auto;
}
.left-side {
  width: 15vw;
  height: 92vh;
  background-color: #f8f8f8;
}
.card-video {
  display: flex;
  gap: 1rem;
  margin: 0.6rem 0;
}

.chanel-image {
  width: 30px;
  border-radius: 50%;
}
.video-chanel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.video-title {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 7px;
}
.video-desc {
  font-size: 0.8rem;
}
.menu__icons {
  background-color: #f8f8;
}
