.containerr {
  display: flex;
  padding-top: 3.5rem;
  gap: 2rem;
}

.menu__item {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}
.menu__item i {
  font-size: 1.4rem;
}
.menu__item:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 1rem;
  background-color: #f8f8f8;
  position: fixed;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo-img {
  height: 20px;
}
.search-input {
  width: 100%;
}
.settings {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.video-list {
  width: 100%;
  height: 92vh;
  overflow-y: auto;
}
.left-side {
  width: 200px;
  height: 92vh;
  background-color: #f8f8f8;
}
.card-video {
  display: flex;
  gap: 1rem;
  margin: 0.6rem 0;
}
.chanel-image {
  width: 30px;
  border-radius: 50%;
}
.video-chanel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.video-title {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 7px;
  color: black;
  font-weight: 600;
}
.video-desc {
  font-size: 0.8rem;
}
.menu__icons {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.video-container {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.video-container .video-big {
  width: 60%;
}
.video-container .after-search {
  width: 40%;
}
.video-container .video {
  width: 100%;
  height: 400px;
}
.after-search .video-image {
  width: 150px;
}
.after-search .video-title {
  font-size: 0.9rem;
  line-height: 0;
}
.after-search .video-time {
  font-size: 0.8rem;
}
.after-search .video-chanel {
  font-size: 0.8rem;
}
.after-search .video-desc {
  display: none;
}
.after-search .chanel-image {
  display: none;
}
